/* RESET */
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

/* MAIN CONTAINER */
.login-container{
display:flex;
height:100vh;
}

/* ================= LEFT SIDE ================= */
.left{
flex:1;
background:url('/assets/burger_background.png') center/cover no-repeat;
position:relative;
display:flex;
align-items:start;
}

.left::after{
content:"";
position:absolute;
right:0;
top:10%;
height:80%;
width:3px;
background:linear-gradient(to bottom,transparent,#ff8c42,#ff8c42,transparent);
box-shadow:0 0 10px #ff8c42;
}

.bg-img{
position:absolute;
width:100%;
height:100%;
object-fit:cover;
z-index:0;
}

/* DARK OVERLAY */
.left::before{
content:"";
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
}

/* BRANDING CONTENT */
.branding{
position:relative;
z-index:2;
padding:50px;
color:white;
}

.branding h1{
font-size:42px;
color:#ff6a00;
margin-bottom:10px;
}

.branding p{
font-size:25px;
margin-bottom:40px;
color:#ddd;
}

/* ================= ROLE SELECT ================= */
.role-select h3{
margin-bottom:15px;
font-size:18px;
}

.role-card input{
display:none;
}

.role-card{
display:block;
padding:12px 15px;
margin-bottom:12px;
background:rgba(255,255,255,0.1);
border-radius:8px;
cursor:pointer;
transition:all 0.3s ease;
}

.role-card:hover{
background:rgba(255,255,255,0.2);
}

.role-card input:checked+span{
color:#ff6a00;
font-weight:bold;
}

/* ================= RIGHT SIDE ================= */
.right{
flex:1;
background:linear-gradient(135deg,#111,#1c1c1c);
display:flex;
justify-content:center;
align-items:center;
}

/* LOGIN BOX */
.login-box{
width:420px;
padding:50px;
border-radius:16px;
background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
box-shadow:0 0 40px rgba(0,0,0,0.6);
transition:0.3s;
border:1px solid rgba(255,255,255,0.15);
}

/* TITLE */
.login-box h2{
margin-bottom:25px;
color:white;
font-size:22px;
font-weight:600;
}

/* LABELS */
.login-box label{
display:block;
margin-top:12px;
color:#ff8c42;
font-size:14px;
}

/* INPUTS */
.login-box input{
width:100%;
padding:14px;
margin-top:6px;
background:rgba(255,255,255,0.06);
backdrop-filter:blur(12px);
color:white;
box-shadow:0 0 50px rgba(0,0,0,0.7);
border:1px solid #444;
border-radius:18px!important;
}

/* INPUT FOCUS */
.login-box input:focus{
background:#333;
box-shadow:0 0 6px orange;
border:1px solid orange;
}

/* BUTTON */
.login-box button{
width:100%;
padding:12px;
margin-top:20px;
background:linear-gradient(45deg,#ff7a18,#ffb347);
border:none;
border-radius:10px;
color:white;
font-weight:bold;
cursor:pointer;
transition:0.3s;
}

.login-box button:hover{
transform:scale(1.05);
box-shadow:0 0 10px orange;
}

/* SIGNUP TEXT */
.signup-text{
margin-top:18px;
font-size:14px;
color:#bbb;
text-align:center;
}

.signup-text a{
color:#ff8c42;
text-decoration:none;
font-weight:bold;
margin-left:5px;
transition:0.3s;
}

.signup-text a:hover{
color:#ffa94d;
text-decoration:underline;
}

/* ================= RESPONSIVE ================= */
@media(max-width:768px){
.container{flex-direction:column;}
.left{height:40vh;}
.right{height:60vh;}
}

.role-card{
backdrop-filter:blur(6px);
border:1px solid rgba(255,255,255,0.1);
}

.role-card:hover{
transform:scale(1.03);
border:1px solid orange;
}

.role-card input:checked+span{
color:orange;
font-weight:bold;
}

.left::before{
background:linear-gradient(to right,rgba(0,0,0,0.7),rgba(0,0,0,0.4));
}

.text-danger{
color:red;
font-size:medium;
}